$color-primary: #003459;
$color-secondary: #002A48;
$color-background: #FCEED5;
$color-white: #FFFFFF;
$color-text: #242B33;
$color-gray: #667479;
$color-light-blue: #00A7E7;
$color-border: #EBEEEF;
$color-shadow: rgba(0, 52, 89, 0.1);